.navbar {
  height: 100%;
  width: 100%;
  padding: var(--mantine-spacing-md);
  display: flex;
  flex-direction: column;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: var(--mantine-font-size-sm);
  color: white;
  padding: var(--mantine-spacing-xs);
  border-radius: var(--mantine-radius-sm);
  font-weight: 500;
  width: 100%;
  transition: background-color 200ms ease;

  @mixin hover {
    color: #52ff94;

    .linkIcon {
      color: #52ff94;
    }
  }
}

.link[data-active] {
  color: #52ff94;
}

.link[data-active] .linkIcon {
  color: #52ff94;
}
